@import "../utils/variables.scss";
@import "../utils/fonts";


.sign-up{
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  display: flex;
  background-color: $background-color;
  
  .right-block {
    width: 60%;
    background-color: $background-color;
  }
  
  .left-block{
    width: 40%;
    
    
    .form {
      
      height: calc(100vh - #{$nav-height});
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      

      .welcome-title,
      .welcome-description {
        font-family: 'Roboto Regular';
        text-align: justify;
        max-width: $input-size;
        padding: 0 0 10px 0;
      }

      input {
        width: $input-size;
        height: 42px;
        border: 1px;
        background-color: $white;

        box-shadow: 1px 1px 3px 1px gray;
        margin: 5px 0 10px 0;
      }

      .checkbox{
        width: 15px;
        height: 15px;
      }

      .submit-button {
        border: 0px;
        border-radius: 5px;
        font-family: 'Roboto Black';

        font-size: 16px;
        letter-spacing: 1px;
        color: $white;
        background-color: $secondary-color;
      }
    }
  }

  .right-block {
    background-image: url('https://i.imgur.com/0BHUYRI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 1300px) {
  .sign-up {
    .left-block{
      input{
        width: calc(#{$input-size} - 150px) !important;
      }

      .welcome-title,
      .welcome-description {
        max-width: calc(#{$input-size} - 150px) !important;
      }
    }
  }
}

@media (max-width: 900px) {
  .sign-up {
    .left-block{
      width: 60%;

      input{
        width: calc(#{$input-size} - 200px) !important;
      }

      .welcome-title,
      .welcome-description {
        max-width: calc(#{$input-size} - 200px) !important;
      }
    }

    .right-block {
      display: 40%;
    }
  }
}

@media (max-width: 600px) {
  .sign-up {
    .left-block {
      width: 100%;
    }
    
    .right-block {
      display: none;
    }

    input{
      width: 200px;
    }
  }
}