@import "../utils/variables.scss";
@import "../utils/fonts";


.sign-up{
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  display: flex;
  background-color: $background-color;
  
  .right-block {
    width: 60%;
    background-color: $background-color;
  }
  
  .left-block{
    width: 40%;
    
    .register-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      

      .welcome-title,
      .welcome-description {
        font-family: 'Roboto Regular';
      }

      input {
        width: 380px;
        height: 42px;
        border: 1px;
        background-color: $white;

        box-shadow: 1px 1px 3px 1px gray;
      }

      .submit-button {
        border: 0px;
        border-radius: 5px;
        font-family: 'Roboto Black';

        font-size: 16px;
        letter-spacing: 1px;
        color: $white;
        background-color: $secondary-color;
      }
    }
  }

  .right-block {
    background-image: url('https://i.imgur.com/0BHUYRI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 800px) {
  .sign-up {
    .left-block{
      width: 100%;
      
    }

    .right-block {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .sign-up {
    .left-block{
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .right-block {
      display: none;
    }

    input{
      transition: all 0.3s ease-in;
      transform: scale(0.7);
    }
  }
}