.navigation {
  width: 100vw;
  background-color: #E5E5E5;
  height: 84px;
  
  &-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

    .logo {
      display: flex;
      align-items: center;

      text-transform: uppercase;
      font-weight: 800;
    }

    .register, 
    .login {
      padding: 15px;
      border-radius: 5px;

      font-family: sans-serif;
      font-weight: 800;
      font-size: 12px;

      text-decoration: none;
    }

    .register {
      background-color: #F48023;
      color: #FFFFFF;
      margin-right: 15px;
    }

    .login {
      background-color: #EAEAEA;
      color: #1682FD;
    }
  }
}