@import "variables";
@import "fonts";


.sign-up{
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  display: flex;
  background-color: $background-color;
  
  .left-block {
    width: 40%;

  } 
  .right-block {
    width: 60%;
    height: 100%;
    background-color: $background-color;
  }
  
  .left-block{
    .register-form {
      width: 100%;

      .welcome-title,
      .welcome-description {
        font-family: 'Roboto Regular';
      }

      input {
        width: 380px;
        height: 42px;
        border: 1px;
        background-color: $white;
      }

      .submit-button {
        border: 0px;
        border-radius: 5px;
        font-family: 'Roboto Black';

        font-size: 16px;
        letter-spacing: 1px;
        color: $white;
        background-color: $secondary-color;
      }

      

      
    }
  }

  .right-block {
    background-image: url('https://i.imgur.com/0BHUYRI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}